# 1. What is a data type?

- It tells Python what **type of value** you're working with - like *is it numbers, text, or lists, or anything else?*

## A. Basic Types 

*(the below is the built-in data types of Python, there will be some data types (decimal) that need to be imported from a standard libary)*
### A.1. int -> integer

In [1]:
x = 10
type (x)

int

### A.2. float -> decimal numbers 

*the **float's accuracy** is **approximate**, while the decimal data type's accuracy is exact*

In [2]:
age = 9999999.99999
type (age)

float

### A.3. bool -> True or False

In [4]:
fine_or_not = True
type (fine_or_not)

bool

### A.4. str -> text (i.e. string)

In [5]:
name = 'Kine'

type (name)

str

## B. Collection types

### B.1. Lists -> in order but changeable

In [8]:
my_mbti = ['ENTJ', 'ESTJ', 'INTJ']

type (my_mbti)

list

In [9]:
# if you want to ADD a new value to the list

my_mbti.append('ISTJ')
print(my_mbti)

['ENTJ', 'ESTJ', 'INTJ', 'ISTJ', 'ISTJ']

In [14]:
# if you want to REMOVE a new value to the list

my_mbti.remove('ISTJ')
print(my_mbti)

['ENTJ', 'ESTJ', 'INTJ']

In [12]:
# if you want to PICK a value from the list, remember: 
# Index:    0        1         2
# fruits = ["apple", "banana", "cherry"]

ideal = my_mbti[0]

print (ideal)

ENTJ

### B.2. Tuple -> in order but UNchangeable

This is different from **list**:
you **CAN'T** add or remove values from the Tuple. Use Tuple if you're sure that the data is *not change*. Moreover, the **SYNTAX** is different too

| Feature                             | `list`                                 | `tuple`                         |
| ----------------------------------- | -------------------------------------- | ------------------------------- |
| **Syntax**                          | `[item1, item2, item3]`                | `(item1, item2, item3)`         |

In [17]:
T = (1, 2, 3)
type (T)

tuple

In [15]:
# example for the unchangeability of tuple
my_tuple = (1, 2, 3)
my_tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
# But you CAN address values
my_tuple = (1, 2, 3)
print (my_tuple[0])

1

### B.3. Set -> NO order, remove Duplicates automatically

In [21]:
my_set = {"apple", "banana", "cherry"}
type (my_set)

set

In [18]:
# 1. Set do not have a fixed order like a list or typle

my_set = {"apple", "banana", "cherry"} # you might that the result is in a different order 
print(my_set)

{'cherry', 'banana', 'apple'}

In [19]:
# 2. Set automatically remove dupplicates

my_set = {"apple", "banana", "apple", "cherry", "banana"}
print(my_set)

{'cherry', 'banana', 'apple'}

In [20]:
# 3. you CAN'T access items by index:
my_set [0] # because Set don't have a fixed order

TypeError: 'set' object is not subscriptable

### B.4. Dict -> "Dictionary" stores values using keys

*Each **key** is connected to a **value***

| Key  | Value |
| ---- | ----- |
| name | Alice |
| age  | 25    |
| city | Hanoi |

In [23]:
person = {
    "name": "kine",      # key: "name"   → value: "kine"
    "age": 250,            # key: "age"    → value: 250
    "city": "Unknown"       # key: "city"   → value: "Unknown"
}
type (person)

dict

## C. Other Important Types

In [24]:
# None type = nothing or no value
x = None
type (x)

NoneType

# 2. How to convert data types?

In [25]:
str(123)       # '123'
int("456")     # 456
float("3.14")  # 3.14
list("abc")    # ['a', 'b', 'c']

['a', 'b', 'c']

In [26]:
# But not all conversion work

int("hello")

ValueError: invalid literal for int() with base 10: 'hello'

# 3. How to test types?

 **WHY**: The reason is to **CHECK** the variable is the **right** type before operation

In [27]:
x = [1, 2, 3]
print(isinstance(x, dict))     # False

False

# 4. Slicing

In [ ]:
# Syntax: A[start:stop] : gives you characters from start index up to, but not including, stop index.

A = 'HELLO WORLD'

A[0]   → 'H'         (indexing — get one letter)
A[:5]  → 'HELLO'     (slicing — get from start to index 4)
A[6:]  → 'WORLD'     (get from index 6 to the end)

In [28]:
A = 'HELLO WORLD'
A[:5]

'HELLO'