# Comparison Operators

- They are used to compare two value. And then, it returns **Bool results**: `True` or `False`

| Operator | Name                     | Example  | Result |
| -------- | ------------------------ | -------- | ------ |
| `==`     | Equal to                 | `5 == 5` | `True` |
| `!=`     | Not equal to             | `5 != 3` | `True` |
| `>`      | Greater than             | `10 > 3` | `True` |
| `<`      | Less than                | `2 < 7`  | `True` |
| `>=`     | Greater than or equal to | `5 >= 5` | `True` |
| `<=`     | Less than or equal to    | `3 <= 4` | `True` |

In [1]:
# for example

10 == 50

False

In [2]:
10 != 50

True

In [3]:
10 <= 10

True

In [4]:
10 >= 10

True

# Logical Operators
*and, or, not* - The names speak for themselves

| Operator | Example  | Result |
| -------- |  -------- | ------ |
| `and`    | x = 10 print(x > 5 and x < 20)| `True` |
| `or`    | x = 10 print(x < 5 or x > 15)| `False` |
| `not`    | x = 10 print(not x == 10)| `False` |

In [5]:
(10 < 50) and (50 < 10)

False

In [6]:
(10 < 50) and (50 > 10)

True

In [7]:
('Vanilla' > 'Chocolate') or (50 > 10)

# Vanilla is actually BIGGER than Chocolate because V is in higher number order than C in the alphabet.

True

In [8]:
not(50>10)

False

# Membership operators

- are use to ***test if a value exists or not*** inside a sequence or collection
- handy if working with ***strings, lists, sets, dictionaries, and more.***

| Operator | Meaning              | Example            | Result  |
| -------- | -------------------- | ------------------ | ------- |
| `in`     | Is the value in?     | `"a" in "apple"`   | `True`  |
| `not in` | Is the value not in? | `"x" not in "box"` | `False` |

In [9]:
fruits = ["apple", "banana", "cherry"]
"banana" not in fruits

False

In [10]:
gal = 'I love me'

'love' in 'I love me'

True

In [11]:
scoops = [4, 1000, 6]

wanted_scoops = 99

wanted_scoops in scoops

False